<div class="navbar-header d-flex ps-3">
    <a class="navbar-brand nav-link" href="/">Shopping Cart</a>
</div>
<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/}">Home</a></li>

        <th:block th:if="${#request.remoteUser}">

            <li class="nav-item"><a class="nav-link" th:href="@{/security/logoff}">Log Out</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/order/list}">Order </a></li>
            <li class="nav-item" th:if="${#request.isUserInRole('DIRE') or #request.isUserInRole('STAF')}">
                <a class="nav-link" th:href="@{/admin/home/index}">Admin</a>
            </li>
        </th:block>

        <th:block th:unless="${#request.remoteUser}">
            <li class="nav-item"><a class="nav-link" th:href="@{/security/login/form}">Sign In</a></li>
        </th:block>

    </ul>
    <ul th:if="${#request.remoteUser}" class="nav navbar-nav navbar-right">
        <li class="nav-item">
            <a href="#" class="nav-link text-black fw-bold">xin chao [[${#request.remoteUser}]]</a>
        </li>
    </ul>
</div>
